<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>

  
  <% if (!user) { %>
  <h1>Welcome to the app!</h1>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
  <% } %>

  <% if (user) { %>
  <p>Welcome <%= user.username %></p>
  <a href="/auth/sign-out">Sign out</a>
  <% } %>
</body>

</html>